{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the ABOUT page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, iste, fugit est adipisci neque quaerat necessitatibus, totam ipsa quam commodi accusamus obcaecati id quae provident recusandae impedit exercitationem! Debitis, beatae.</p>             
            <p>This comes from the template {{index .StringMap "test"}}</p>
            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                    Your remote IP address is {{index .StringMap "remote_ip"}}
                {{else}}
                    I don't know your ip address yet. Visit the <a href="/">Home page</a> So I can set it.
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}