{{template "admin" .}}

{{define "css"}}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">

{{end}}

{{define "page-title"}}
Dashboard
{{end}}

{{define "content"}}
<div class="col-md-12">
    <h4>New reservations</h4>
    {{$res := index .Data "reservations"}}
    <table class="table table-hover" id="all-res">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Room</th>
                <th>Arrival</th>
                <th>Departure</th>
                <th>View</th>

            </tr>

        </thead>
        <tbody>
            {{range $res}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.FirstName}} {{.LastName}}</td>
                <td>{{.Room.RoomName}}</td>
                <td>{{shortDate .StartDate}}</td>
                <td>{{shortDate .EndDate}}</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/admin/reservations/new/{{.ID}}/show" tabindex="-1"
                        aria-disabled="true">Process</a>


                </td>
            </tr>




            {{end}}
</div>
{{end}}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>
    
    document.addEventListener("DOMContentLoaded", function () {
        const dataTable = new simpleDatatables.DataTable("#all-res", {
            columns: [
                { select: 0, sort: "asc" }
            ]
        })
    })
</script>
{{end}}