{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Contact Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, harum enim incidunt vitae
                dolore quasi
                dolor facere eum unde aliquid cumque molestiae? Deserunt sint aspernatur iure repellat laudantium
                Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Vel sint illum perspiciatis deserunt provident!
                Consequatur,
                deleniti quia consequuntur quasi reprehenderit ullam sequi eius quae laboriosam culpa a deserunt
                accusamus
                nisi?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="" class="btn btn-success">Contact Us</a>
        </div>
    </div>
</div>

{{end}}