{{template "base" .}}


{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./static/images/generals-quarters.png" class="img-fluid room-img" alt="General's Quarters">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarters</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, harum enim incidunt vitae dolore quasi
        dolor facere eum unde aliquid cumque molestiae? Deserunt sint aspernatur iure repellat laudantium Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Vel sint illum perspiciatis deserunt provident! Consequatur,
        deleniti quia consequuntur quasi reprehenderit ullam sequi eius quae laboriosam culpa a deserunt accusamus
        nisi?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="check-availability" href="#!" class="btn btn-primary">Check Availability</a>
    </div>
  </div>
  {{end}}
  {{define "js"}}
  <script src="/static/js/room.js"></script>
  <script>
    let csrftoken = "{{.CSRFToken}}"
    let roomID = 1
    Room(csrftoken, roomID)
  </script>
  {{end}}