{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="./static/images/majors-suite.png" class="img-fluid room-img" alt="General's Quarters">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">Major's Suite</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, harum enim incidunt vitae dolore quasi
          dolor facere eum unde aliquid cumque molestiae? Deserunt sint aspernatur iure repellat laudantium Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Vel sint illum perspiciatis deserunt provident! Consequatur,
          deleniti quia consequuntur quasi reprehenderit ullam sequi eius quae laboriosam culpa a deserunt accusamus
          nisi?
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a id="check-availability" href="#!" class="btn btn-primary">Check Availability</a>
      </div>
    </div>
{{end}}


{{define "js"}}
<script>
  let attention = Prompt()

  document.getElementById("check-availability").addEventListener("click", function () {
    let html = `
  <form action="/search-availability-json" method = "post" action="" id="check-availability-form" novalidate class="needs-validation">
      <div class="form-row">
          <div class="col">
              <div id="reservation-date-modal">
                  <div class="row">
                      <div class="col">
                          <input type="text" disabled required class="form-control" name="start" id="start" placeholder="Arrival">
                      </div>
                      <div class="col">
                          <input type="text" disabled required class="form-control" name="end" id="end" placeholder="Departure">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>`
    let attention = Prompt()
    attention.custom({
      html: html,
      title: "Pick your dates",

      willOpen: () => {
        const elem = document.getElementById('reservation-date-modal');
        const rangepicker = new DateRangePicker(elem, {
          format: "yyyy-mm-dd",
          minDate: new Date(),
          showOnFocus: true
        });
      },

      didOpen: ()=> {
                  document.getElementById('start').removeAttribute('disabled')
                  document.getElementById('end').removeAttribute('disabled')

              },


      callback: function (result) {

        let form = document.getElementById("check-availability-form");
        let formData = new FormData(form);
        formData.append("csrf_token", "{{.CSRFToken}}");
        formData.append("room_id", "2")


        fetch('/search-availability-json', {
          method: "post",
          body: formData
        })
          .then(response => response.json())
          .then(data => {
            if (data.ok) {
              attention.custom({
                showConfirmButton : false,
                showCancelButton : false,
                icon: 'success',
                title: `<p>Room is available</p><br>`,
                html: `<p><a href="/book-room?`
                  +`id=` + data.room_id
                  +`&s=` + data.start_date
                  +`&e=` + data.end_date
                  +`" class="btn btn-primary"> Book Now </a></p> `
              })
            }else {
              attention.error({
                title:`Room unavailable`,
              })
            }
          })
      }
    })

  })
</script>
{{end}}