{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class=" mt-4">Make Reservation</h1>

            <!-- To do - to handle form sent to server -->
            <form method="POST" action="" class="needs-validation">
                <div class="col-md-4 mb-1">
                    <label for="first_name" class="form-label">First name:</label>
                    <input type="text" class="form-control is-valid" id="first_name" name="first_name" value=""
                        required autocomplete="off">
                </div>
                <div class="col-md-4 mb-1">
                    <label for="last_name" class="form-label">Last name:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="" required
                        autocomplete="off">
                </div>
                <div class="col-md-4 mb-1">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="" required
                        autocomplete="off">
                </div>

                <div class="col-md-4 mb-5">
                    <label for="phone_number" class="form-label">Phone Number:</label>
                    <input type="tel" class="form-control" id="phone_number" name="phone_number" value="" required
                        autocomplete="off">
                </div>

                <hr class="col-md-4">

                <div class="col-12 mt-5">
                    <button class="btn btn-primary" type="submit">Make Reservation</button>
                </div>
            </form>


        </div>
    </div>
</div>

{{end}}