{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Search Availability</h1>

            <!-- To do - to handle form sent to server -->
            <form action="/search-availability" method="POST" class="align-items-center needs-validation" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="form-row mt-5 mb-5">
                    <div class="col">
                        <div id="reservation-date">
                            <div class="row">

                                <div class="col-md-4">
                                    <input required type="text" class="form-control" name="start"
                                        placeholder="Arrival" aria-describedby="startDateHelp">
                                </div>

                                <div class="col-md-4">
                                    <input required type="text" class="form-control" name="end"
                                        placeholder="Departure" aria-describedby="endDateHelp">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

            </form>
        </div>
    </div>
{{end}}

{{define "js"}}
<script>

const elem = document.getElementById('reservation-date');
    const rangepicker = new DateRangePicker(elem, {
        format: "yyyy-mm-dd",
        minDate: new Date(),
    });
</script>
{{end}}